<!-- Footer Section -->
<footer class="px-5 md:px-24 py-10 text-text bg-accent">
  <div data-aos="zoom-in" data-aos-delay="200" class="md:flex justify-between">
    <div>
      <!-- Logo (left) -->
      <div class="text-xl font-heading flex items-center gap-2">
        <img src="Images/logo.png" class="w-28" />
        <!-- <a href="#">Distinct Destiny</a> -->
      </div>
      <p class="max-w-md pt-5 text-sm">
        Distinct Destiny Schools is committed to nurturing excellence from the
        foundation stage to secondary level — shaping confident, curious, and
        compassionate learners ready to impact the world.
      </p>
    </div>
    <div class="pt-8 md:pt-0 footer-links">
      <h4 class="pb-4 text-lg font-heading text-gray-300">Quick Links</h4>
      <ul class="text-sm">
        <li class="pb-2"><a href="index.html">Home</a></li>
        <li class="pb-2"><a href="about.html">About Us</a></li>
        <li class="pb-2"><a href="#">Academics</a></li>
        <li class="pb-2"><a href="#">Admissions</a></li>
        <li class="pb-2"><a href="#">Events</a></li>
        <li class="pb-2"><a href="#">Gallery</a></li>
        <li class="pb-2"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="text-sm">
      <div class="pt-8 md:pt-0">
        <h4 class="pb-4 text-lg font-heading text-gray-300">Contact</h4>
        <span class="font-bold">Email</span>
        <p class="pb-2">info@distinctdestinyschools.com</p>
        <span class="font-bold">Phone</span>
        <p class="pb-2">+1 (234) 567-890</p>
        <span class="font-bold">Location</span>
        <p class="max-w-xs">
          D1-01 OGO OLUWA MODEL ESTATE, Airport Road, Alakia, Ibadan
        </p>
      </div>
    </div>
  </div>
  <div
    data-aos="zoom-in"
    data-aos-delay="200"
    class="md:flex justify-between items-center mt-8"
  >
    <div class="footer-icon">
      <a href="https://x.com/real_adesola"
        ><i class="fa-brands fa-linkedin text-xl"></i
      ></a>
      <a href="https://x.com/real_adesola"
        ><i class="fa-brands fa-x-twitter text-xl"></i
      ></a>
      <a href="https://x.com/real_adesola"
        ><i class="fa-brands fa-instagram text-xl"></i
      ></a>
      <a href="https://x.com/real_adesola"
        ><i class="fa-brands fa-facebook text-xl"></i
      ></a>
    </div>
  </div>

  <div
    class="mt-8 mb-4 pt-5 border-t border-t-gray-300 flex flex-col md:flex-row items-center md:items-start justify-center md:justify-between text-center md:text-left gap-2 text-sm"
  >
    <span>© 2025 Distinct Destiny Schools. All rights reserved.</span>
    <span class="font-medium"
      >Powered by Code By One <i class="fa-solid fa-layer-group fa-beat"></i
    ></span>
  </div>

  <!-- BACK TO TOP ARROW -->
  <button
    id="backToTop"
    class="fixed bottom-6 right-6 bg-backtotop text-white p-3 rounded-full shadow-lg hover:bg-backtotop transition-opacity duration-300 opacity-0 pointer-events-none"
  >
    ↑
  </button>
</footer>
